{
  "extends": ["eslint:recommended"],
  "plugins": ["jest"],
  "parserOptions": {},
  "parser": "babel-eslint",
  "env": {
    "jest/globals": true,
    "es6": true,
    "node": true
  },
  "globals": {},
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false
      }
    ],
    "semi": ["error", "never"]
  }
}
